
<html>
    <head>
        <title>Reusable Form Demo</title>
    </head>

    <body>
 
 

 
 
  <h2>Flask Web Form</h2>
  
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="What's your name?">
      <br>
      <label for="email">Email:</label>
      <input type="text" class="form-control" id="email" name="email" placeholder="Your email will be used to contact you.">
      <br>
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Enter a password.">
 
 
    
    <button type="submit" class="btn btn-success">Sign Up</button>
  </form>
 
  

</body>
</html>
